<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anew.msbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GRE_ScrollingActivity"
            android:label="@string/title_activity_gre__scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TOEFL_ScrollingActivity"
            android:label="@string/title_activity_toefl__scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IELTS_ScrollingActivity"
            android:label="@string/title_activity_ielts__scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".university_ScrollingActivity"
            android:label="@string/title_activity_university__scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Evaluated_Result" />
        <activity android:name=".final_University_Result" />
        <activity android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Apply_Semester" />
        <activity android:name=".EducationActivity" />
        <activity android:name=".ExamActivity" />
        <activity android:name=".GREMarks" />
        <activity android:name=".EnglishProficiency" />
        <activity android:name=".TOEFLMarks" />
        <activity android:name=".IELTSMarks" />
        <activity android:name=".UniversityDetail" />
        <activity android:name=".User_Details" />
        <activity android:name=".UniversityDecision" />
        <activity android:name=".UniversityWhole" />
        <activity android:name=".UniversitySelection" />
        <activity android:name=".University_detail_page"></activity>
    </application>

</manifest>